.intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-image: url(../img/index_cover-white.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        transition: 0.3s ease;
        animation:showOpas 15s infinite;
        @keyframes showOpas {
            0% {
                opacity: 0.9;
            }
            60% {
                opacity: 0.3;
            }
            100% {
                opacity: 0.9;
            }
        }
    }
    &__content {
        padding: 100px 0 100px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        height: 100%;
    }
    &__logo {
        display: flex;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 60px;
        animation:showOp2 2s;
        @keyframes showOp2 {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        @media (max-width:400px) {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            border-bottom: 2px solid white;
            width: 100%;
            height: 1px;
        }
        a {
            height: 46px;
            width: 89px;
            filter: brightness(0) invert(1);
        }
        span {
            color: white;
            font-family: 'Exo 2',sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            margin-left: 10px;
            max-width: 68px;
            text-align: left;
            text-transform: uppercase;
            user-select: none;
        }
    }
    &__title {
        color: white;
        animation:showRight 1s;
        position: relative;
        @keyframes showRight {
        from {right:-100%;}
        to {right:0;}
        }
    }
    &__btn {
        color: white;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        animation:showLeft 1s;
        position: relative;
        @keyframes showLeft {
        from {left:-100%;}
        to {left:0;}
        }
    }
    &__animate {
        position: absolute;
        bottom: 10px;
        left: -100px;
        animation:showOp 3s;
        @keyframes showOp {
        from {opacity: 0;}
        to {opacity: 0.7;}
        }
    }
}

