<div class="intro">
    <div class="wrapper">
        <div class="intro__content">

            <div class="intro__logo">
                <a href="" class="logo"></a>
                <span>Сейфы<br>Эталон</span>
            </div>

            <div class="intro__title">
                <h1 class="title">Тайники</h1>
            </div>

            <div class="intro__btn">
                <a class="btn" data-fancybox data-src="#form-backcall">Заказать</a>
            </div>

            <div class="intro__animate">
                <a class="img-anim"></a>
                <a class="img-anim img-anim_2"></a>
            </div>

        </div>
    </div>
</div>

<div class="form-backcall" id="form-backcall">
    <form action="" class="form-backcall__form">
        <h2 class="form-backcall__title">Введите ваш телефон:</h2>
        <input name="tel" type="tel" class="mask-phone">
        <button type="submit" class="btn btn_form">Отправить</button>
    </form>
</div>